

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #a7a9ac;
	font-weight: 200;
}

ul {
	text-align: right;
	font-size: 13px;
	margin-top: 28px;
	margin-bottom: 28px;
}

footer ul {
	text-align: center;
}

li {
	display: inline-block;
	padding: 0 9px;
	border-right: solid 1px #a7a9ac;
}

li.last {
	border: none;
}

a,
a:hover {
	color: #a7a9ac;
	text-decoration: none;
}

h1 {
	font-size: 30px;
	font-weight: 100;
	margin: 0 auto;
	text-align: center;
}

h2 {
	color: #004d6d;
	font-size: 35px;
	margin-top: 50px;
}

video {
	max-width: 100%;
	margin-top: 30px;
}

.jumbotron {
	background: none;
	text-align: center;
	margin-bottom: 0;
}

.jumbotron .container {
	border-bottom: solid 1px #d1d3d4;
}

.navbar-inverse {
	background: none;
	border: none;
	background-color: #fff;
}

img.logo {
	margin-top: 50px;
	margin-bottom: 50px;
}

.content {
	padding-bottom: 30px;
}

.content,
.send-email {
	text-align: center;
	border-bottom: solid 1px #d1d3d4;
}

.content p {
	text-align: center;
}

.send-email p {
	font-size: 25px;
}

.navbar-form {
	margin: 30px 0; 
}

.btn-blue,
.btn-blue:hover {
	background-color: #004d6c;
	color: #fff;
}

.app {
	background-color: #004d6c;
	width: 150px;
	height: 150px;
	position: absolute;
	color: #fff;
	top: 200px;
	font-size: 24px;
	font-weight: 100;
	left: 200px;
	padding-top: 22px;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%; /* future proofing */
	-khtml-border-radius: 50%; /* for old Konqueror browsers */
}


@media all and (max-width: 1001px) {

	.app {
		left: 20px;
	}

}

@media all and (max-width: 768px) {

	.app {
		top: 280px;
		left: 100px;
	}

	img.logo {
		margin-bottom: 200px;
	}

}










